@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$heading-font-family: "Anonymous Pro", "Monaco", monospace !default;
$heading-font-size:   1.6rem !default;
$heading-font-weight: 700 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fefffb !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "fonts",
  "base",
  "syntax-highlighting"
;
.site-header {
  margin-bottom: 20px;
  @extend %clearfix;
}
.site-logo {
  display: inline-block;
  @include relative-font-size(2);
}
.site-title {
  font-family: $heading-font-family;
  @include relative-font-size(2.7);
}

.site-description {
  @include relative-font-size(0.7);
}