<footer class="site-footer h-card">

  
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

      {% if page_paths %}
      <nav class="site-nav">
        <div class="trigger">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    {% endif %}
  </div>

</footer>
