<header class="site-header" role="banner">

  <div class="wrapper">
    {% if site.emoji_logo %}
      <div class="site-logo">{{site.emoji_logo}}</div>
    {% endif %}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"> {{ site.title }}</a>
    <span class="site-description">{{ site.description | escape }}</span>

  </div>
</header>
